body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 23%,
    rgba(253, 247, 45, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 27rem;
  margin: auto;
}
.logo img {
  width: 100%;
}
h3 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.Container1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

footer {
  position: fixed;
  margin-top: 2rem;
  bottom: 0px;
  height: 3rem;
  width: 100%;
}
